In [2]:
import pandas as pd 
import os

In [3]:
df_ct = pd.read_pickle('cotacao_commodities.pkl')
df_tm = pd.read_pickle('negociacao_derivativos_commodities.pkl')

In [4]:
df_ct.head(2)

,data_cotacao,cod_ric,cod_ticker,cotacao_tipo,fator_conversao,bolsa_negociacao,tipo_mercadoria,mercadoria,moeda,unidade_mercadoria,valor_cotacao
0,2019-08-23,BACAINDXF,BACAINDX,FECHAMENTO,1.0,BMF,GORDO - ESALQ SÃO PAULO,BOI,REAL,ARROBA LIQUIDA,156.10
1,2019-08-23,ICFU19,AXU9,AJUSTE,1.0,BMF,ARABICO EM GRAOS- TIPO 4/5,CAFE,DOLAR DOS EUA,SACA(60KG),111.35

In [5]:
df_ct.dtypes

data_cotacao          datetime64[ns]
cod_ric                       object
cod_ticker                    object
cotacao_tipo                  object
fator_conversao              float64
bolsa_negociacao              object
tipo_mercadoria               object
mercadoria                    object
moeda                         object
unidade_mercadoria            object
valor_cotacao                float64
dtype: object

In [6]:
df_tm.head(2)

,data_referencia,data_inicio,data_vencimento,numero_contrato,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,vendedor,comprador
0,2019-07-18,2019-07-17,2019-08-30,77902613,BORRACHA,TSR20,SGX,TONELADA METRICA,(220) USD,2,Cliente 1,Mercado
1,2019-07-18,2019-07-18,2020-01-14,77902616,MILHO,EM GRAOS A GRANEL,BMF,SACA(60KG),(790) BRL,11250,Mercado,Cliente 1

In [7]:
df_tm.dtypes

data_referencia         datetime64[ns]
data_inicio             datetime64[ns]
data_vencimento         datetime64[ns]
numero_contrato                 object
mercadoria                      object
tipo                            object
bolsa                           object
unidade_negociacao              object
moeda                           object
quantidade_negociada             int64
vendedor                        object
comprador                       object
dtype: object

In [ ]:
# teste